params {
    
    // GLDS/runsheet parameters -----------------
    gldsAccession = false       // in form 'OSD-465' or false
    use_runsheet = false        // true or false
    runsheet_path = '/path/to/OSD-465_estimatehost_v1_runsheet.csv'   //   path to user-created runsheet
    RawFilePattern = null      // null, or string to match against files in OSDR. Matching files will be downloaded as input files (typically raw reads, "_HRremoved")
    dp_tools_plugin = "/path/to/dp_tools__plugins"


    // Universal parameters ----------------
    DL_kraken = false    // true or false
    single_end = false     // true or false, if using runsheet this will automatically parsed from the runsheet and is unnecessary
    reads_dir = "path/to/example-reads_PE/"  // path to user-provided input reads or directory to downloaded reads from OSDR
    ref_genomes_csv_path = "/path/to/MG_reference_genomes.csv"   // path to .csv mapping species to genome links
    
    specify_reads = false     // process all reads in reads_dir by default, but if true will expect unique_sample_ids.txt to specify which samples to process
    sample_id_list = "/path/to/unique_sample_ids.txt"   // documentation on creation in readme file
    

    // Paired-end parameters ----------------
    PE_reads_suffix = "_R{1,2}.fastq.gz"   // for paired-end, expects {1,2} or similar to differentiate reads
    PE_reads_out_suffix = "_R#_raw_hrRemoved.fastq"    // expects #


    // Single-end parameters ---------------
    SE_reads_suffix = "_raw.fastq.gz"
    SE_reads_out_suffix = "_raw_hrRemoved.fastq"

    
    // Kraken2 set-up --------------
    species = "homo-sapiens"    // tells Kraken2 set-up process what genome link to use. see MG_reference_genomes.csv for options
    kraken_output_dir = "/path/to/kraken2-outputs"  // path to output summary files/reports
    host_db_name = 'kraken2-human-db'
    host_db_path = "/path/to/${params.host_db_name}"


    // Containers -----------------
    kraken2container = 'quay.io/biocontainers/kraken2:2.1.3--pl5321hdcf5f25_0'
    dp_tools_container = "quay.io/j_81/dp_tools:1.3.4"
    genelab_utils_container = "quay.io/j_81/gl_images:genelab_utils_v1.0"
    
    
    num_threads = 2
}

docker {
        enabled = true
    }
